@model LightningOffer.Models.HomeWarranty

@{
    ViewData["Title"] = "Create";
}


<script>
    function hideDiv() {
        window.onload = function () {
            document.getElementById("HWPrice").style.display = 'none';
            document.getElementById("buyerFinalOptions").style.display = 'none';
        };
    };

    function togglePrice() {
        console.log("toggle the price ");      

        var buyerFinalPriceButton = document.getElementById("buyerFinalOptions");
        var priceButton = document.getElementById("HWPrice");

        priceButton.style.display = 'block'; // show price div
        buyerFinalPriceButton.style.display = 'none'; // hide buyer fina option div

 
    };


    function toggleBuyerFinalOptions() {
        console.log("toggle buyer final options");

        var buyerFinalPriceButton = document.getElementById("buyerFinalOptions");
        var priceButton = document.getElementById("HWPrice");

        priceButton.style.display = 'none'; // show price div
        buyerFinalPriceButton.style.display = 'block'; // hide buyer final option div
    };


</script>

<h1>Home Warranty [icon]</h1>

<div class="progress">
    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 54%" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100">54% Completed</div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h5>Is the seller paying anything towards a home warranty?</h5>
                <div class="form-check">
                    <input class="form-check-input" asp-for="Who_Pays" type="radio" name="whoPays" value="sellerPaysNo" id="whoPaysNo" onclick="toggleBuyerFinalOptions()" />
                    <label class="form-check-label control-label" asp-for="Who_Pays" for="whoPays">
                        No
                    </label>
                </div>
                <div class="form-check" id="whoPays">
                    <input class="form-check-input" asp-for="Who_Pays" type="radio" name="whoPays" value="sellerPaysYes" id="whoPaysYes" onclick="togglePrice()" />
                    <label class="form-check-label control-label" asp-for="Who_Pays" for="whoPays">
                        Yes
                    </label>
                </div>
            </div>
            <div class="form-group" id="HWPrice" onload="hideDiv()" style="display: none">
                <h5>How much is the seller paying towards the home warranty?</h5>
                <div class="form-group" id="price">
                    <input asp-for="Price" class="form-control" />                   
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <h5>Who is choosing/ordering the home warranty?</h5>
                <div class="form-check">
                    <input class="form-check-input" asp-for="Who_chooses" type="radio" name="Who_chooses" value="buyer" id="Who_chooses"/>
                    <label class="form-check-label control-label" asp-for="Who_chooses" for="Who_chooses">
                        The Buyer
                    </label>
                </div>
                <div class="form-check" id="whoPays">
                    <input class="form-check-input" asp-for="Who_chooses" type="radio" name="Who_chooses" value="seller" id="Who_chooses" />
                    <label class="form-check-label control-label" asp-for="Who_chooses" for="Who_chooses">
                        The Seller
                    </label>
                </div>
            </div>
            <div class="form-group" id="buyerFinalOptions" name="buyerFinalOptions" onload="hideDiv()" style="display: none">
                <h5>Select an option for home warranty below:</h5>
                <div class="form-check">
                    <input class="form-check-input" asp-for="Buyer_Final_Options" type="radio" name="Buyer_Final_Options" value="buyerAgreesToPurchase" />
                    <label class="form-check-label control-label" asp-for="Buyer_Final_Options" for="Buyer_Final_Options">
                        Buyer agrees to purchase a home warranty
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" asp-for="Buyer_Final_Options" type="radio" name="Buyer_Final_Options" value="propertyIsNewConstruction" />
                    <label class="form-check-label control-label" asp-for="Buyer_Final_Options" for="Buyer_Final_Options">
                        Property is new construction and will come with a minimum 1 year home warranty, provided by the builder.
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" asp-for="Buyer_Final_Options" type="radio" name="Buyer_Final_Options" value="buyerWaivesRight" />
                    <label class="form-check-label control-label" asp-for="Buyer_Final_Options" for="Buyer_Final_Options">
                        Buyer waives right to purchase a home warranty.
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" asp-for="Buyer_Final_Options" type="radio" name="Buyer_Final_Options" value="buyerReservesRight" />
                    <label class="form-check-label control-label" asp-for="Buyer_Final_Options" for="Buyer_Final_Options">
                        Buyer reservces right to purchase a home warranty at a later date.
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
