@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Lightning Offer</h2>
    <p>The quickest way to submit an offer - in under 3 minutes</p>
    <a class="btn btn-primary" href="../Properties/Create" role="button">Write an Offer</a>
</div>
