@model LightningOffer.Models.Financial


@{
    ViewData["Title"] = "Create";

}

<script>
    // hides the downpayment questions when the page loads
    function hideDiv() {
        window.onload = function () {
            document.getElementById("CashDP").style.display = 'none';
            document.getElementById("PercentDP").style.display = 'none';
            document.getElementById("ARMLimits").style.display = 'none';
        };
    };

    function ShowHideDollar() {
        console.log("Toggle dollar div");

        var dollarRadioButton = document.getElementById("CashDP");
        var percentRadioButton = document.getElementById("PercentDP");

        // if the dollar sign is selected, show the dollar div. If the 
        if (dollarRadioButton.style.display == "none") {
            dollarRadioButton.style.display = "block"; // show dollar div
            percentRadioButton.style.display = "none"; // hide dolalr div
        };             
    };

    function ShowHidePercent() {
        console.log("Toggle percent div");

        var percentRadioButton = document.getElementById("PercentDP");
        var dollarRadioButton = document.getElementById("CashDP");

        if (percentRadioButton.style.display == "none") {
            percentRadioButton.style.display = "block"; // show percent div
            dollarRadioButton.style.display = "none"; // hide dollar div
        };
    };

    function ShowARMLimits() {
        console.log("Toggle ARM")

        var armLimitRadioButton = document.getElementById("ARMLimits");
        if (armLimitRadioButton.style.display == "none") {
            armLimitRadioButton.style.display = "block";
        } else {
            armLimitRadioButton.style.display = "none";
        };
    };

    function ShowFixedOptions() {
        console.log("FHA lengths");
    };

</script>




<h1>Financing [icon]</h1>
<h4>Progress bar 3 here 3/x.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h5>What's the purchase price?</h5>
            <div class="form-group">
                <!--<label asp-for="Purchase_Price" class="control-label"></label>-->
                <input asp-for="Purchase_Price" class="form-control" placeholder="$230,000" />
                <span asp-validation-for="Purchase_Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>How much is the earnest money deposit?</h5>
                <div class="form-check" id="EMD">
                    <input asp-for="EMD" class="form-check-input" type="radio" name="EMD" value="500" id="EMD" />
                    <label asp-for="EMD" class="form-check-label control-label" for="EMD">
                        $500
                    </label>
                </div>
                <div class="form-check">
                    <input asp-for="EMD" class="form-check-input" type="radio" name="EMD" value="1000" id="EMD" />
                    <label asp-for="EMD" class="form-check-label control-label" for="EMD">
                        $1000
                    </label>
                </div>
                <div class="form-check">
                    <input asp-for="EMD" class="form-check-input" type="radio" name="EMD" value="2500" id="EMD" />
                    <label asp-for="EMD" class="form-check-label control-label" for="EMD">
                        $2500
                    </label>
                </div>
                <div class="form-check">
                    <input asp-for="EMD" class="form-check-input" type="radio" name="EMD" value="5000" id="EMD" />
                    <label asp-for="EMD" class="form-check-label control-label" for="EMD">
                        $5000
                    </label>
                </div>
            </div>
            <div class="form-group">
                <h5>Where is the earnest money deposit being held?</h5>
                <div class="form-check" id="EMD_Holding">
                    <label class="form-check-label control-label" for="EMD_Holding">
                        <input class="form-check-input" type="radio" name="EMD_Holding" value="ListingBroker" id="EMD_Holding" asp-for="EMD_With_ListingBroker" /> @Html.DisplayNameFor(model => model.EMD_With_ListingBroker)
                    </label>
                </div>
                <div class="form-check control-label">
                    <label class="form-check-label control-label" for="EMD_Holding">
                        <input class="form-check-input" type="radio" name="EMD_Holding" value="SellingBroker" id="EMD_Holding" asp-for="EMD_With_SellingBroker" /> @Html.DisplayNameFor(model => model.EMD_With_SellingBroker)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <h5>Where is the down payment coming from?</h5>
                <div class="form-check" id="DownPaymentSource">
                    <label class="form-check-label control-label" for="DownPaymentSource">
                        <input class="form-check-input" type="radio" name="DownPaymentSource" value="Cash" asp-for="DownPaymentSource" />Cash
                    </label>
                </div>
                <div class="form-check control-label">
                    <label class="form-check-label control-label" for="DownPaymentSource">
                        <input class="form-check-input" type="radio" name="DownPaymentSource" value="Equity_Line" asp-for="DownPaymentSource" />Equity Line
                    </label>
                </div>
                <div class="form-check control-label">
                    <label class="form-check-label control-label" for="DownPaymentSource">
                        <input class="form-check-input" type="radio" name="DownPaymentSource" value="Gift" asp-for="DownPaymentSource" />Gift
                    </label>
                </div>
                <div class="form-check control-label">
                    <label class="form-check-label control-label" for="DownPaymentSource">
                        <input class="form-check-input" type="radio" name="DownPaymentSource" value="Other" asp-for="DownPaymentSource" />Other
                    </label>
                </div>
            </div>
            <div class="form-group">
                <h5>Is the down payment in <strong>dollars</strong> or a <strong>percentage</strong> of the purchase price?</h5>
                <div class="form-check control-label">
                    <label class="form-check-label control-label" for="DownPaymentAmount">
                        <input class="form-check-input" type="radio" onclick="ShowHideDollar()" name="DownPaymentAmount" value="$" />$ (Dollars)
                    </label>
                </div>
                <div class="form-check control-label">
                    <label class="form-check-label control-label" for="DownPaymentAmount">
                        <input class="form-check-input" type="radio" onclick="ShowHidePercent()" name="DownPaymentAmount" value="%" />% (Percentage of Purchase Price)
                    </label>
                </div>
            </div>
            <div class="form-group" id="CashDP" onload="hideDiv()" style="display: none">
                <h5>How much cash are they putting down?</h5>
                <div class="form-group" id="DownPaymentAmount">
                    <input type="number" asp-for="DownPaymentAmount" class="form-control" placeholder="$4500" />
                    <span asp-validation-for="DownPaymentAmount" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group" id="PercentDP" onload="hideDiv()" style="display: none">
                <h5>What percent of the purchase price are they putting down?</h5>
                <div class="form-group" id="DownPaymentAmount">
                    <input type="number" asp-for="DownPaymentAmount" class="form-control" placeholder="25%" />
                    <span asp-validation-for="DownPaymentAmount" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <h5>What kind of financing is being used?</h5>
                <div class="form-check" id="LoanType">
                    <input asp-for="LoanType" class="form-check-input" type="radio" name="LoanType" value="Conventional" id="LoanType" />
                    <label asp-for="LoanType" class="form-check-label control-label" for="LoanType">
                        Conventional
                    </label>
                </div>
                <div class="form-check">
                    <input asp-for="LoanType" class="form-check-input" type="radio" name="LoanType" value="FHA" id="LoanType" />
                    <label asp-for="LoanType" class="form-check-label control-label" for="LoanType">
                        FHA
                    </label>
                </div>
                <div class="form-check">
                    <input asp-for="LoanType" class="form-check-input" type="radio" name="LoanType" value="VA" id="LoanType" />
                    <label asp-for="LoanType" class="form-check-label control-label" for="LoanType">
                        VA
                    </label>
                </div>
            </div>
            <div class="form-group">
                <h5>Is it a fixed or adjustable rate mortgage?</h5>
                <div class="form-check" id="Rate_Type">
                    <input asp-for="Rate_Type" class="form-check-input" type="radio" name="Rate_Type" onclick="ShowFixedOptions()" value="Fixed" id="Rate_Type" />
                    <label asp-for="Rate_Type" class="form-check-label control-label" for="Rate_Type">
                        Fixed Rate
                    </label>
                </div>
                <div class="form-check" id="Rate_Type">
                    <input asp-for="Rate_Type" class="form-check-input" type="radio" name="Rate_Type" onclick="ShowARMLimits()" value="ARM" id="Rate_Type" disabled/>
                    <label asp-for="Rate_Type" class="form-check-label control-label" for="Rate_Type">
                        ARM (Adjustable Rate Mortgage)
                    </label>
                </div>
            </div>
            <div class="form-group" onload="hideDiv()" id="ARMLimits" style="display: none">
                <h5>How long is the loan?</h5>
                <div>
                    <label asp-for="ARM_Limits" class="control-label">15 years</label>
                    <input asp-for="ARM_Limits" class="form-control" />
                    <span asp-validation-for="ARM_Limits" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <h5>What's the length of the loan?</h5>
                <div class="form-check" id="Loan_Length">
                    <input asp-for="Loan_Length" type="radio" class="form-check-input" name="Loan_Length" id="Loan_Length" value="15" />
                    <label asp-for="Loan_Length" class="form-check-label" for="Loan_Length">
                        15 Years
                    </label>
                </div>
                <div class="form-check" id="Loan_Length">
                     <input asp-for="Loan_Length" type="radio" class="form-check-input" name="Loan_Length" id="Loan_Length" value="30" />
                     <label asp-for="Loan_Length" class="form-check-label" for="Loan_Length">
                        30 Years
                     </label>
                </div>
            </div>
            <!--This should be a readonly field that autopopulates today's market rate + 1 point via api call. This should probably be hidden? -->
            <div class="form-group">
                <label asp-for="Interest_Rate" class="control-label"></label>
                <input asp-for="Interest_Rate" class="form-control" readonly placeholder="4.25%"/>
                <span asp-validation-for="Interest_Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Has the buyer applied for the loan?</h5>
                <div class="form-check" id="Buyer_Loan_Application_Start">
                    <input asp-for="Buyer_Loan_Application_Start" type="radio" class="form-check-input" name="Buyer_Loan_Application_Start" id="Buyer_Loan_Application_Start" value="Yes" />
                    <label asp-for="Buyer_Loan_Application_Start" class="form-check-label" for="Buyer_Loan_Application_Start">
                        Yes, they have a preapproval letter.
                    </label>
                </div>
                <div class="form-check" id="Buyer_Loan_Application_Start">
                    <input asp-for="Buyer_Loan_Application_Start" type="radio" class="form-check-input" name="Buyer_Loan_Application_Start" id="Buyer_Loan_Application_Start" value="No" />
                    <label asp-for="Buyer_Loan_Application_Start" class="form-check-label" for="Buyer_Loan_Application_Start">
                        No, they're working on it.
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>



        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
