@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmed";
}

<h1>Get Started</h1>

<div>
    <p>Thank you for confirming your email. Get started by logging in and <a asp-page="login">writing your first offer!</a></p>
</div>



