@model WinningOffer.Models.Disclosure

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Disclosure</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Seller_Disclosure_Recieved" /> @Html.DisplayNameFor(model => model.Seller_Disclosure_Recieved)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="No_Lead_Paint" /> @Html.DisplayNameFor(model => model.No_Lead_Paint)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Buyer_Waives_Lead_Paint_Inspection" /> @Html.DisplayNameFor(model => model.Buyer_Waives_Lead_Paint_Inspection)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Contingent_On_Lead_Paint" /> @Html.DisplayNameFor(model => model.Contingent_On_Lead_Paint)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Lead_Paint_Inspection_Window" class="control-label"></label>
                <input asp-for="Lead_Paint_Inspection_Window" class="form-control" />
                <span asp-validation-for="Lead_Paint_Inspection_Window" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seller_Lead_Paint_Response_Window" class="control-label"></label>
                <input asp-for="Seller_Lead_Paint_Response_Window" class="form-control" />
                <span asp-validation-for="Seller_Lead_Paint_Response_Window" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
