@model LightningOffer.Models.Appliance

@{
    ViewData["Title"] = "Create";
}

<h1>Select Appliances [icon]</h1>

<h4>Progress bar 2 here 2/x.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h5>Refrigerator</h5>
                <div class="form-check" id="Refrigerator">
                    <input asp-for="Refrigerator" class="form-check-input" type="radio" name="Refrigerator" value="1" id="Refrigerator" />
                    <label asp-for="Refrigerator" class="form-check-label control-label" for="Refrigerator">
                        Stays
                    </label>
                </div>
                <div class="form-check">
                    <input asp-for="Refrigerator" class="form-check-input" type="radio" name="Refrigerator" value="2" id="Refrigerator" />
                    <label asp-for="Refrigerator" class="form-check-label control-label" for="Refrigerator">
                        Goes
                    </label>
                </div>
                <div class="form-check">
                    <input asp-for="Refrigerator" class="form-check-input" type="radio" name="Refrigerator" value="3" id="Refrigerator" />
                    <label asp-for="Refrigerator" class="form-check-label control-label" for="Refrigerator">
                        N/A
                    </label>
                </div>
                <span asp-validation-for="Refrigerator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Stove/Range</h5>
                <div class="form-check" id="StoveRange">
                    <input asp-for="StoveRange" class="form-check-input" type="radio" name="StoveRange" value="1" id="StoveRange" />
                    <label asp-for="StoveRange" class="form-check-label control-label" for="StoveRange">
                        Stays
                    </label>
                </div>
                <div class="form-check">
                    <input asp-for="StoveRange" class="form-check-input" type="radio" name="StoveRange" value="2" id="StoveRange" />
                    <label asp-for="StoveRange" class="form-check-label control-label" for="StoveRange">
                        Goes
                    </label>
                </div>
                <div class="form-check">
                    <input asp-for="StoveRange" class="form-check-input" type="radio" name="StoveRange" value="3" id="StoveRange" />
                    <label asp-for="StoveRange" class="form-check-label control-label" for="StoveRange">
                        N/A
                    </label>
                </div>
                <span asp-validation-for="StoveRange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Dishwasher</h5>
                <div class="form-check" id="Dishwasher">
                    <input asp-for="DishWasher" class="form-check-input" type="radio" name="Dishwasher" value="1" id="Dishwasher" />
                    <label asp-for="DishWasher" class="form-check-label control-label" for="Dishwasher">
                        Stays
                    </label>
                </div>
                <div class="form-check">
                    <input asp-for="DishWasher" class="form-check-input" type="radio" name="Dishwasher" value="2" id="Dishwasher" />
                    <label asp-for="DishWasher" class="form-check-label control-label" for="Dishwasher">
                        Goes
                    </label>
                </div>
                <div class="form-check">
                    <input asp-for="DishWasher" class="form-check-input" type="radio" name="Dishwasher" value="3" id="Dishwasher" />
                    <label asp-for="DishWasher" class="form-check-label control-label" for="Dishwasher">
                        N/A
                    </label>
                </div>
                <span asp-validation-for="DishWasher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Microwave</h5>
                <div class="form-check" id="Microwave">
                    <input asp-for="Microwave" class="form-check-input" type="radio" name="Microwave" value="1" id="Microwave" />
                    <label asp-for="Microwave" class="form-check-label control-label" for="Microwave">
                        Stays
                    </label>
                </div>
                <div class="form-check">
                    <input asp-for="Microwave" class="form-check-input" type="radio" name="Microwave" value="2" id="Microwave" />
                    <label asp-for="Microwave" class="form-check-label control-label" for="Microwave">
                        Goes
                    </label>
                </div>
                <div class="form-check">
                    <input asp-for="Microwave" class="form-check-input" type="radio" name="Microwave" value="3" id="Microwave" />
                    <label asp-for="Microwave" class="form-check-label control-label" for="Microwave">
                        N/A
                    </label>
                </div>
                <span asp-validation-for="Microwave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Clothes Washer</h5>
                <div class="form-check" id="ClothesWasher">
                    <input asp-for="ClothesWasher" class="form-check-input" type="radio" name="ClothesWasher" value="1" id="ClothesWasher" />
                    <label asp-for="ClothesWasher" class="form-check-label control-label" for="ClothesWasher">
                        Stays
                    </label>
                </div>
                <div class="form-check">
                    <input asp-for="ClothesWasher" class="form-check-input" type="radio" name="ClothesWasher" value="2" id="ClothesWasher" />
                    <label asp-for="ClothesWasher" class="form-check-label control-label" for="ClothesWasher">
                        Goes
                    </label>
                </div>
                <div class="form-check">
                    <input asp-for="ClothesWasher" class="form-check-input" type="radio" name="ClothesWasher" value="3" id="ClothesWasher" />
                    <label asp-for="ClothesWasher" class="form-check-label control-label" for="ClothesWasher">
                        N/A
                    </label>
                </div>
                <span asp-validation-for="ClothesWasher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Clothes Dryer</h5>
                <div class="form-check" id="ClothesDryer">
                    <input asp-for="ClothesDryer" class="form-check-input" type="radio" name="ClothesDryer" value="1" id="ClothesDryer" />
                    <label asp-for="ClothesDryer" class="form-check-label control-label" for="ClothesDryer">
                        Stays
                    </label>
                </div>
                <div class="form-check">
                    <input asp-for="ClothesDryer" class="form-check-input" type="radio" name="ClothesDryer" value="2" id="ClothesDryer" />
                    <label asp-for="ClothesDryer" class="form-check-label control-label" for="ClothesDryer">
                        Goes
                    </label>
                </div>
                <div class="form-check">
                    <input asp-for="ClothesDryer" class="form-check-input" type="radio" name="ClothesDryer" value="3" id="ClothesDryer" />
                    <label asp-for="ClothesDryer" class="form-check-label control-label" for="ClothesDryer">
                        N/A
                    </label>
                </div>
                <span asp-validation-for="ClothesDryer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Other" class="control-label"></label>
                <input asp-for="Other" class="form-control" />
                <span asp-validation-for="Other" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Does this property have a propane/fuel tank?</h5>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="propane" value="1" id="1" />
                    <label class="form-check-label control-label" for="Yes">
                        Yes
                    </label>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="propane" value="2" id="2" />
                        <label class="form-check-label control-label" for="No">
                            No
                        </label>
                    </div>
                 </div>
                <span class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
